<section class="contact-us">
    <div class="container">
      <h2 class="section-title">ติดต่อเรา</h2>
      <hr />
      <div class="row">
        <!-- คอลัมน์สำหรับแผนที่ -->
        <div class="col-lg-6 col-md-12 mb-4 map-box">
          <h4>แผนที่</h4>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104563.45142888537!2d100.91112990192742!3d13.107895102818743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3102b9ce2fa8324b%3A0xece6e77dc9fff5b9!2sLaboon%20BBQ%20%26%20Bistro!5e0!3m2!1sth!2sth!4v1725023193463!5m2!1sth!2sth"
            width="100%"
            height="350"
            style="border: 0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
  
        <!-- คอลัมน์สำหรับข้อมูลการติดต่อ -->
        <div class="col-lg-6 col-md-12 contact-info-box">
          <h4>ที่อยู่ร้าน</h4>
          <address>
            285/140 หมู่ 6 ต.ทุ่งสุขลา <br />
            อ.ศรีราชา จ.ชลบุรี <br />
            เทศบาลเมืองศรีราชา 20230
          </address>
  
          <h4 class="mt-4">เบอร์โทร.ติดต่อร้าน</h4>
          <p>096 xxx xxxx</p>
  
          <h4 class="mt-4">Social Media</h4>
          <div class="social-media-links">
            <a href="https://www.facebook.com/laboonbbqbistro?locale=th_TH" target="_blank" class="social-link">
              <i class="bi bi-facebook"></i> Facebook
            </a>
            &nbsp;
            <a href="https://www.instagram.com/laboon_bbqbistro/" target="_blank" class="social-link">
              <i class="bi bi-instagram"></i> Instagram
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <p>&copy; 2024 เว็บไซต์หมูแช่แข็ง. สงวนลิขสิทธิ์.</p>
        <div class="footer-links">
          <a href="#" class="footer-link">นโยบายความเป็นส่วนตัว</a>
          <a href="#" class="footer-link">เกี่ยวกับเรา</a>
          <a href="#" class="footer-link">ติดต่อเรา</a>
        </div>
        <div class="footer-social-media">
          <a href="https://www.facebook.com/laboonbbqbistro?locale=th_TH" class="footer-social-link">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="https://www.instagram.com/laboon_bbqbistro/" class="footer-social-link">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
  